.container {
  margin: 15rem;
}
.form-heading {
  margin: 3rem 0;
  color: #fff;
  font-weight: 400;
  font-size: 3.2rem;
}
.form-container {
  display: flex;
  gap: 12rem;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
  max-width: 40rem;
  width: 100%;
}
.form-input,
.form-textarea {
  padding: 1rem;
  /* height: 4rem; */
  background-color: #222;
  color: #fff;
  border: none;
  grid-column: 1/-1;
  font-size: 1.6rem;
}
/* .form-input {
} */

/* .form-textarea {
} */

.form-input:focus,
.form-textarea:focus {
  outline: none;
}

.email {
  grid-column: 1/2;
}
.phone {
  grid-column: 2/-1;
}

.message {
  resize: none;
  font-family: inherit;
  height: 12rem;
}

.button {
  display: inline-block;
  grid-column: 1/-1;
  color: #fff;
  background-color: #a99561;
  font-size: 2rem;
  height: 4rem;
  /* width: 30rem; */
  border-radius: 32px;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #b2a071;
}
/*  */
.info-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container-phone,
.container-email {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}
.info-phone_number {
  font-size: 2rem;
}
.info-email {
  font-size: 1.8rem;
}
.info-address {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.6rem;
}
